# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/acfml
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/sitepress-multilingual-cms
!web/app/plugins/wpml-string-translation
!web/app/plugins/wpml-translation-management
!web/app/plugins/wpml-media-translation
web/app/mu-plugins/*/
web/app/upgrade
web/app/languages
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/uploads/2021

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
#.env
#.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
.DS_Store
!web/app/themes/starter-theme/*
web/app/themes/*/node_modules
web/app/themes/*/vendor
!web/app/themes/*/acf-json

!web/app/plugins/timber-wpml.php
!web/app/plugins/timber-jetpack-asset-cdn.php
!web/app/plugins/timber-yoast-seo.php

!web/app/plugins/wp-all-import-pro
!web/app/plugins/wpai-acf-add-on
!web/app/plugins/wpai-woocommerce-add-on
!web/app/plugins/wpai-user-add-on
!web/app/plugins/wpai-toolset-types-addon
!web/app/plugins/wpai-linkcloak-add-on

!web/app/plugins/wp-all-export-pro
!web/app/plugins/wpae-user-add-on-pro